# OKX API Configuration
OKX_API_KEY=
OKX_API_SECRET=
OKX_API_PASSPHRASE=
OKX_PROJECT_ID=

# Coinmarketcap API Configuration
COINMARKETCAP_API_KEY=

# Qweather API Configuration
QWEATHER_API_KEY=
QWEATHER_PROJECT_ID=
QWEATHER_API_URL=
QWEATHER_CREDENTIAL_ID=

# Amap API Configuration
AMAP_API_KEY=

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=

# AI API Configuration
DEEPSEEK_API_KEY=
OPENAI_API_KEY=
GEMINI_API_KEY=
MINIMAX_API_KEY=
GLM_API_KEY=
QWEN_API_KEY=
CLAUDE_API_KEY=
